.app {
  text-align: center;
}

.header {
  background-color: #333;
  color: #acf9e9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-family: "Arial Nova Light", Arial, sans-serif;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.container {
  display: flex;
}

.panel {
  padding: 20px;
  font-family: "Arial Nova Light", Arial, sans-serif;
}

.panel-left {
  flex-basis: 30%;
  background-color: #f2f2f2;
}

.panel-middle {
  flex-basis: 40%;
  background-color: #fff;
}

.panel-right {
  flex-basis: 30%;
  background-color: #f2f2f2;
}
/* CSS for calendar-container class */
.calendar-container {
  height: 68vb;
  /* Add additional styles as needed */
}
/* CSS for custom-calendar class */
.custom-calendar {
  /* Add custom styles specific to the DateCalendar component */
  /* Example styles: */
  width: 500%;
  height: 500%;
  /* Add additional styles as needed */
}

.add-submit {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.each-item-upcoming {
  background-color: rgb(196, 240, 240);
  margin-top: 20px;
  border-radius: 10px;
}
